@model IEnumerable<PlantCareFramework.Areas.Identity.Data.ApplicationUser>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer   
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["message"] != null)
{
    <script>alert('@TempData["message"]');</script>
}
<h1>@Localizer["All users"]</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Id"]
            </th>
            <th>
                @Localizer["Username"]
            </th>
            <th>
                @Localizer["First name"]
            </th>
            <th>
                @Localizer["Last name"]
            </th>
            <th>
                @Localizer["Email"]
            </th>
            <th>
                @Localizer["Access status"]
            </th>
            <th>
                @Localizer["Assign role"]
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    @if(item.IsActive == true)
                    {
                        <a asp-action="Block" asp-route-id="@item.Id">@Localizer["Not blocked"]</a>
                    }
                    else
                    {
                        <a asp-action="Block" asp-route-id="@item.Id">@Localizer["Blocked"]</a>
                    }
                </td>
                <td>
                    <a asp-action="UserRoles" asp-route-id="@item.Id">@Localizer["AddToRole"]</a>
                </td>
        </tr>

}
    </tbody>
</table>

