@model PlantCareFramework.Models.Plant
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Create"];
}

<h1>@Localizer["Create"]</h1>

<h4>@Localizer["Plant"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">@Localizer["Plant Name"]</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">@Localizer["Weekly Water Quantity (ml)"]</label>
                <input asp-for="WaterQuantity" class="form-control" />
                <span asp-validation-for="WaterQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["Placing"]</label>
                <select asp-for="PlaceId" class ="form-control" asp-items="ViewBag.PlaceId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["Light Intensity"]</label>
                <select asp-for="LightId" class ="form-control" asp-items="ViewBag.LightId"></select>
            </div>
            
            <div class="form-group">
                <input type="submit" value=@Localizer["Create"] class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
