@model IEnumerable<PlantCareFramework.Models.Plant>
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Index"];
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PlantCareFramework.styles.css" asp-append-version="true" />
</head>

<h1>@Localizer["Plants"]</h1>

<p>
    <a asp-action="Create">@Localizer["Add New Plant"]</a>
</p>

@*<p>
    <form asp-action="index" asp-controller="Plants" method="get">
        Filter Plantname:
        <input type="text" name="searchField"/>

    </form>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Plant Name"]
                @*@Html.DisplayNameFor(model => model.Name)*@
            </th>
            <th>
                @Localizer["Weekly Water Quantity (ml)"]
@*                @Html.DisplayNameFor(model => model.WaterQuantity)
*@            </th>
           
            <th>
                @Localizer["Placing"]
@*                @Html.DisplayNameFor(model => model.Place.Location)
*@            </th>
            <th>
                @Localizer["Light Intensity"]
@*                @Html.DisplayNameFor(model => model.Light.LightIntensity)
*@            </th>
           
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterQuantity)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Place.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Light.LightIntensity)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
